.Home-container {
  width: 100%;
  padding-left: 24px;
}

.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-left: 24px;
}

.links {
  display: flex;
  justify-content: right;
  gap: 70px;
  font-size: 20px;
  padding-right: 60px;
  margin-bottom: 40px;
}

.nav-title {
  font-size: 40px;
}

p {
  font-size: 21px;
}

h2 {
  margin-bottom: 40px;
}
